framework: auto-detect

source https://api.nuget.org/v3/index.json

clitool dotnet-xunit ~> 2.3
nuget ServiceStack.Core ~> 5.5
nuget ServiceStack.Kestrel.Core ~> 5.5
nuget Microsoft.AspNetCore ~> 2.2
nuget Microsoft.AspNetCore.Diagnostics ~> 2.2
nuget Microsoft.AspNetCore.Hosting ~> 2.2
nuget Microsoft.AspNetCore.Mvc ~> 2.2
nuget Microsoft.AspNetCore.Routing ~> 2.2
nuget Microsoft.AspNetCore.Server.IISIntegration ~> 2.2
nuget Microsoft.AspNetCore.Server.Kestrel ~> 2.2
nuget Microsoft.AspNetCore.StaticFiles ~> 2.2
nuget Microsoft.Extensions.Configuration.EnvironmentVariables ~> 2.2
nuget Microsoft.Extensions.Configuration.Json ~> 2.2
nuget Microsoft.Extensions.Logging ~> 2.2
nuget Microsoft.Extensions.Logging.Console ~> 2.2
nuget Microsoft.Extensions.Logging.Debug ~> 2.2
nuget Microsoft.Extensions.Options.ConfigurationExtensions  ~> 2.2
nuget Microsoft.NET.Test.Sdk ~> 15.9
nuget Microsoft.VisualStudio.Web.BrowserLink ~> 2.2
nuget ServiceStack.Interfaces.Core ~> 5.5
nuget xunit ~> 2.4
nuget xunit.runner.visualstudio ~> 2.4
